SERVER_ROLE=vpn-node
SERVER_NAME=foreign-vless-main
SERVER_HOST=vpnnew1.com
SERVER_IP=176.98.191.110
COUNTRY_CODE=SG
VPN_PROTOCOL=VLESS
XRAY_PORT=443
XRAY_TRANSPORT=tcp
XRAY_SECURITY=tls
XRAY_SNI=vpnnew1.com
