SERVER_ROLE=vpn-node
SERVER_NAME=foreign-vless-main
SERVER_HOST=vpnserv1.ordbox.ru
SERVER_IP=176.98.191.110
COUNTRY_CODE=SG
VPN_PROTOCOL=VLESS
XRAY_PORT=443
XRAY_TRANSPORT=tcp
XRAY_SECURITY=tls
XRAY_SNI=vpnserv1.ordbox.ru
XRAY_CONTAINER_NAME=foreign-vless-xray
PROVISIONER_CONTAINER_NAME=foreign-vless-provisioner
PROVISIONER_BIND_HOST=127.0.0.1
PROVISIONER_PORT=3021
PROVISIONER_TOKEN=change-me
XRAY_CONFIG_FILE=./config/config.json
XRAY_CERTS_DIR=./certs
VPN_BACKEND_PROTOCOL=VLESS
VPN_BACKEND_PROFILE_FORMAT=uri
VPN_BACKEND_NODES_JSON=[{"id":"foreign-vless-main","name":"Foreign VLESS Main","host":"vpnserv1.ordbox.ru","ip":"176.98.191.110","port":443,"country_code":"SG","transport":"tcp","security":"tls","sni":"vpnserv1.ordbox.ru","enabled":true,"is_default":true}]
